<div class="footer">
	<div class="container">	
		<ul class="inline-list">
				<li class="footer-links"> 
					<a href="/about">About</a>
				</li>
				<!-- <li class="footer-links">-</li>
				<li class="footer-links">
					<a href="/contact">Contact us</a>
				</li> -->
				<li class="copyright">
					© 2013 MeCasa
				</li>
		</ul>
	</div>
</div>