<header class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<a id="logo", class="molot", href="/properties">MeCasa</a>
		<ul class="nav nav-pills" >
			<li><%= raw(is_active? "search") %><a href="/properties"><span>Search</span></a></li>
		</ul>
	</div>
</header><!-- /header -->